.footer {
  position: relative;
  bottom: 0px;
  height: 100px;
  background-color: var(--blue);
  display: flex;
  text-align: center;
}
.footer p {
  margin: auto;
}
.footer img {
  position: relative;
  padding-right: 10px;
}
.social-images-footer {
  position: absolute;
  right: 0px;
  padding-right: 20px;
  padding-top: 70px;
}
