.main-page {
  position: relative;
  background-color: white;
  display: flex;
}
.main-page-text {
  width: 1000px;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}
.main-page p {
  font-size: 50px;
}
#read-more {
  background: linear-gradient(to bottom, var(--blue) 5%, var(--blue) 100%);
  background-color: var(--blue);
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: var(--white);
  font-size: 25px;
  padding: 20px 58px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 20px;
}
